{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Student Data</title>      
        <meta name="viewport" content="widli=device-widli, initial-scale=1">
        <link rel="stylesheet" href="{%static "css/sinfo.css"%}"></link>
    </head>
    <body bgcolor="pink">
        <h1>Student Data</h1><hr>
        <table border="1">
            {%if student%}
            {%for s in student%}
            <h2>{{s.name}} Information</h2><hr>
            <ul>
                <li>Roll no. : {{s.rollno}}</li>
                <li>Name : {{s.name}}</li>
                <li>Date of Birth: {{s.dob}}</li>
                <li>Marks: {{s.marks}}</li>
                <li>Email: {{s.email}}</li>
                <li>Mobile Number: {{s.mobno}}</li>
                <li>Address: {{s.address}}</li>
            </ul>
            <br>
            {%endfor%}
            {%else%}
            <h1>No records Found</h1>
            {%endif%}
            
        </table>
    </body>
</html>